ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.detail__img {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.detail__data {
  display: flex;
  z-index: 10;
  padding: 5rem;
}

.detail__data h1 {
  margin: 0;
}

.detail__text {
  width: 40%;
}

.detail__text .detail__title {
  font-size: 30px;
}

.detail__text .detail__year {
  margin: 10px 0;
  font-size: 24px;
}

.detail__text .detail__summary {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 600;
}

.detail__data .detail__poster {
  width: 27%;
  margin-right: 4rem;
}

.detail__img .detail__bg {
  z-index: -1;
  position: fixed;
  top: -1000px;
  width: 100%;
  filter: blur(5px);
  opacity: 0.3;
}
