* {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

body {
  margin: 10px;
  padding: 0;
  background-color: #1e1e1e;
  color: white;
  height: 100%;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}
