p {
  margin: 0;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.671);
  height: 48px;
}

.navbar .navbar__all {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
}
